services:
    mysql:
       container_name: "mysql"
       image: mysql
       volumes:
         - mysql-data:/var/lib/mysql
       networks:
         - two-tier
       env_file:
       - ".env"
       ports:
         - 3306:3306
       restart: always
       healthcheck:
         test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot"]
         interval: 10s
         timeout: 5s
         retries: 5
         start_period: 60s


    flask:
       container_name: "flask-app"
       build:
         context: .
       networks:
         - two-tier
       env_file:
       - ".env"
       ports:
         - 5000:5000
       depends_on:
         - mysql
       restart: always
       healthcheck:
         test: ["CMD-SHELL","curl -f http://localhost:5000/health || exit 1"]
         interval: 10s
         timeout: 5s
         retries: 5
         start_period: 60s


volumes:
    mysql-data:

networks:
    two-tier:
